# Ignore the .env file in the root directory
.env

# Ignore the .env file in the "backend" directory
backend/.env

# Ignore the .env file in the "pepe-nft-contracts" directory
pepe-nft-contracts/.env

# Ignore node_modules and cache files
node_modules/
.cache/
frontend/node_modules/
frontend/node_modules/.cache/
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
