option_settings:
  aws:elasticbeanstalk:environment:
    LoadBalancerType: application
  
  # HTTP Listener (Redirect to HTTPS)
  aws:elbv2:listener:80:
    DefaultProcess: redirect
    ListenerEnabled: true
    Protocol: HTTP
  
  # HTTPS Listener
  aws:elbv2:listener:443:
    DefaultProcess: default
    ListenerEnabled: true
    Protocol: HTTPS
    SSLCertificateArns: arn:aws:acm:us-west-1:476114128052:certificate/b61c7b80-67e2-4a3a-a713-cd2e669f1e43
  
  # Process Settings
  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: /health
    Port: 8080
    Protocol: HTTP

  aws:elasticbeanstalk:environment:process:redirect:
    Port: 443
    Protocol: HTTPS

  # Enable cross-zone load balancing
  aws:elb:loadbalancer:
    CrossZone: true

  # SSL Policy
  aws:elbv2:listener:443:
    SSLPolicy: ELBSecurityPolicy-TLS-1-2-2017-01