container_commands:
  01_mkdir_ssl:
    command: "mkdir -p /etc/letsencrypt/live/pepenftgenerator.xyz/"
  02_copy_ssl:
    command: |
      aws s3 cp s3://pepenft-ssl-certificates/ssl/fullchain.pem /etc/letsencrypt/live/pepenftgenerator.xyz/
      aws s3 cp s3://pepenft-ssl-certificates/ssl/privkey.pem /etc/letsencrypt/live/pepenftgenerator.xyz/
  03_permission:
    command: |
      chmod 600 /etc/letsencrypt/live/pepenftgenerator.xyz/privkey.pem
      chmod 600 /etc/letsencrypt/live/pepenftgenerator.xyz/fullchain.pem