# .ebextensions/99_ssl_setup.config
commands:
  01_create_cert_dir:
    command: "mkdir -p /etc/letsencrypt/live/pepenftgenerator.xyz/"
    ignoreErrors: true

container_commands:
  01_install_aws_cli:
    command: |
      if ! command -v aws &> /dev/null; then
        curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
        unzip awscliv2.zip
        sudo ./aws/install
      fi
    ignoreErrors: true
    
  02_copy_ssl:
    command: |
      aws s3 cp s3://pepenft-ssl-certificates/ssl/fullchain.pem /etc/letsencrypt/live/pepenftgenerator.xyz/ || true
      aws s3 cp s3://pepenft-ssl-certificates/ssl/privkey.pem /etc/letsencrypt/live/pepenftgenerator.xyz/ || true
    
  03_permission:
    command: |
      chmod 755 /etc/letsencrypt/live/pepenftgenerator.xyz
      chmod 600 /etc/letsencrypt/live/pepenftgenerator.xyz/privkey.pem
      chmod 600 /etc/letsencrypt/live/pepenftgenerator.xyz/fullchain.pem
      chown -R nginx:nginx /etc/letsencrypt/live/pepenftgenerator.xyz
    
  04_nginx_reload:
    command: "service nginx reload"
    ignoreErrors: true